<section class="image-text-split-2">
  <div class="its2-wrapper">

    <!-- LEFT IMAGE -->
    <div class="its2-content">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.text }}</p>

      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="its2-btn">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>

    <!-- RIGHT CONTENT -->
    <div class="its2-image">
      {% if section.settings.image != blank %}
        <img
          src="{{ section.settings.image | image_url: width: 1200 }}"
          alt="Section image"
          loading="lazy">
      {% endif %}
    </div>

  </div>
</section>


<style>
  .image-text-split-2 {
    padding: 40px 20px;
    background: orange;
  }

  .its2-wrapper {
    display: flex;
    max-width: 1300px;
    margin: auto;
    gap: 20px;
    background-color: chartreuse;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Image */
  .its2-image img {
    /* width: 90%; */
    height: 100%;
    display: block;
  }

  /* Content */
  .its2-content {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
  }

  .its2-content h2 {
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .its2-content p {
    font-size: 13px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 25px;
  }

  /* Button */
  .its2-btn {
    display: inline-block;
    padding: 10px 22px;
    background: #000;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .its2-btn:hover {
    background: #333;
  }

  /* Tablet */
  @media (max-width: 1023px) {
    .its2-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .its2-image {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .its2-image img {
      max-width: 100%;
    }

    .its2-content {
      max-width: 100%;
      padding: 0 15px;
    }
  }

  /* Mobile */
  @media (max-width: 768px) {
    .its2-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }

  /* Small mobile */
  @media (max-width: 480px) {
    .image-text-split-2 {
      padding: 40px 15px;
    }

    .its2-content h2 {
      font-size: 13px;
    }

    .its2-content p {
      font-size: 12.5px;
    }
  }

</style>
{% schema %}
  {
    "name": "Image Text Split",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "DISCOVER DENIM"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus venenatis diam id porta. In aliquet tristique felis blandit vehicula. Ut laoreet ipsum in diam tempor lobortis."
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "SHOP NOW"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with Text (Split)"
      }
    ]
  }
{% endschema %}